recursive-include * *.h *.cc *.md

include LICENSE horovod.lds horovod.exp
prune .eggs

graft third_party/eigen/Eigen

# prune eigen LGPL2
exclude third_party/eigen/Eigen/Eigen
exclude third_party/eigen/Eigen/IterativeLinearSolvers
exclude third_party/eigen/Eigen/MetisSupport
exclude third_party/eigen/Eigen/Sparse
exclude third_party/eigen/Eigen/SparseCholesky
exclude third_party/eigen/Eigen/SparseLU
exclude third_party/eigen/Eigen/src/OrderingMethods/Amd.h
exclude third_party/eigen/Eigen/src/SparseCholesky/*
